// Reset Styles
@import "nullstyle.scss";

//Animation btns etc
@import "animation.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: Montserrat;
    font-weight: 500;
}
body::-webkit-scrollbar {
    width: 0;
}
body {
    overflow-x: hidden;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
}

.header {
    background: #161519;
    padding-top: 22px;
    padding-bottom: 33px;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 200px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
    }
    &__logo {
        // color: #fff;
        // font-size: 22px;
        // font-weight: 700;
    }
    &__logo a {
        // в будущем удалить(так как будет картинка)
        color: #fff;
        font-size: 22px;
        font-weight: 700;
    }
    &__menu-list {
        display: flex;
        gap: 60px;
    }
    &__menu-list a {
        position: relative;
        color: rgba(255, 255, 255, 0.6);
    }
    &__menu-list a::after {
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0; /*задаём длинну линии до наведения курсора*/
        height: 2px; /*задаём ширину линии*/
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        ); /*задаём цвет линии*/
        content: "";
        transition: width 0.4s ease-out; /*задаём время анимации*/
    }
    &__menu-list a:hover:after {
        width: 100%;
    }
    &__btn {
        padding: 14px 35px;
        border-radius: 15px;
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        ) !important;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}
.headerActive {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.main {
    background: #161519;
}

.tagline {
    position: relative;
    &__text {
        padding-top: 107px;
        max-width: 580px;
    }
    &__text > p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 35px; /* 194.444% */
        margin-bottom: 15px;
    }
    &__text-title {
        color: #fff;
        font-size: 85px;
        position: relative;
        margin-bottom: 20px;
        line-height: 103.62px;
    }
    &__text-title span {
        font-weight: 700;
    }
    &__text-title div {
        width: 80px;
        height: 80px;
        background: url("/img/taglineStars.png") no-repeat;
        position: absolute;
        top: 12px;
        left: 357px;
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-bottom: 45px;
    }
    &__btns-order {
        font-size: 18px;
        font-weight: 700;
        color: #fff;

        border-radius: 20px;
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        );
        padding: 20px 65px;
    }
    &__btns-otherInfo {
        background: none;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        padding: 10px;
        transition: all 0.3s;
    }
    &__btns-otherInfo div {
        width: 30px;
        height: 30px;
        background: url("/img/taglineOtherInfo.png") no-repeat;
    }
    &__btns-otherInfo > h2 {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
    &__stats {
        margin-bottom: 222px;
        display: flex;
        gap: 55px;
        text-align: center;
    }
    &__stats-text h1 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 54.86px;
    }
    &__stats-text p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
    }
    &__stats-material h1 {
        color: #0e8bff;
    }
    &__stats-reviews h1 {
        color: #4dff20;
    }
    &__stats-variation h1 {
        color: #ff7422;
        font-weight: 700;
    }
    &__blur-box {
        position: absolute;
        top: 185px;
        left: 463px;
    }
    &__blur {
        width: 500px;
        height: 500px;
        border-radius: 500px;
        background: rgba(255, 255, 255, 0.1);
        filter: blur(250px);
    }
    &__bg1 {
        width: 150px;
        height: 100px;
        background: url("/img/taglineBg1.png") no-repeat;
        position: absolute;
        top: 348.77px;
        left: 34.36px;
    }
    &__bg2 {
        width: 1029px;
        height: 316px;
        background: url("/img/taglineBg2.png") no-repeat;
        position: absolute;
        top: 74px;
        left: 181px;
    }
    &__cards {
        position: absolute;
        top: 0;
        left: 677px;
    }
    &__cards-box {
        position: relative;
    }
    &__cards1 {
        position: absolute;
        top: 0;
        left: 271px;
    }
    &__cards2 {
        position: absolute;
        top: 221px;
        left: 85px;
    }
    &__cards3 {
        position: absolute;
        top: 226px;
        left: 488px;
    }
    &__cards4 {
        position: absolute;
        top: 374px;
        left: 0;
    }
    &__cards5 {
        position: absolute;
        top: 312px;
        left: 663px;
    }
    &__cards6 {
        position: absolute;
        top: 463px;
        left: 354px;
    }
    &__cards7 {
        position: absolute;
        top: 585px;
        left: 655px;
    }
    &__cards8 {
        position: absolute;
        top: 722px;
        left: 303px;
    }
}

.advantages {
    background: rgba(255, 255, 255, 0.03);
    height: 1086px;
    &__content {
        position: relative;
    }
    &__content > h1 {
        text-align: center;
        padding-top: 75px;
        color: #fff;
        font-size: 45px;
        font-weight: 700;
    }
    &__content-cards {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__content-textBox {
        position: absolute;
        top: 233px;
        left: 770px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__content-textBox-card {
        padding: 25px 30px;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: flex-start;
        gap: 25px;
        z-index: 1;
    }
    &__content-textBox-card-text h1 {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        line-height: 26.82px;
        margin-bottom: 15px;
    }
    &__content-textBox-card-text p {
        max-width: 475px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 32px;
    }
}
.advantagesImgs__flex1 {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    background: url("/img/advantagesImgs/flex1.png") center no-repeat,
        linear-gradient(135deg, #5840ee 0%, #a340df 100%);
}
.advantagesImgs__flex2 {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    background: url("/img/advantagesImgs/flex2.png") center no-repeat,
        linear-gradient(135deg, #4dff20 0%, #1cff84 7.4%, #00b2ff 100%);
}
.advantagesImgs__flex3 {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    background: url("/img/advantagesImgs/flex3.png") center no-repeat,
        linear-gradient(135deg, #f64444 0%, #f39323 99.58%);
}
.advantagesImg1 {
    position: absolute;
    top: 131px;
    left: 182px;
    z-index: 1;
}
.advantagesImg2 {
    position: absolute;
    top: 338px;
    left: -106px;
    z-index: 3;
}
.advantagesImg3 {
    position: absolute;
    top: 514px;
    left: -73px;
    z-index: 4;
}
.advantagesImg4 {
    position: absolute;
    top: 342px;
    left: 246px;
    z-index: 2;
}
.advantagesImg5 {
    position: absolute;
    top: 606px;
    left: 267px;
    z-index: 5;
}
.bg1-blur {
    position: absolute;
    top: 356px;
    left: -417px;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(250px);
}
.bg2-blur {
    position: absolute;
    top: 836px;
    left: 1420px;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(250px);
}
.circle-big {
    background: url("/img/advantagesImgs/circle-big.png") no-repeat;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 173px;
    left: 0;
}
.circle-mini {
    background: url("/img/advantagesImgs/circle-mini.png") no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 323px;
    left: 150px;
}
.advantagesImg-arrow1 {
    background: url("/img/advantagesImgs/Arrow1.png") no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 146px;
    left: 600px;
}
.advantagesImg-arrow2 {
    background: url("/img/advantagesImgs/Arrow2.png") no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 799px;
    left: 1347px;
}
.advantagesImg-vectorBg {
    position: absolute;
    top: 746px;
    left: -250px;
}

//Не забыть блюр надо между карточками!!!

.price {
    &__content {
        margin-top: 68px;
    }
    &__content > h1 {
        text-align: center;
        color: #fff;
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.055px;
        margin-bottom: 91px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 75px;
        column-gap: 35px;
        margin-bottom: 65px;
    }
    &__cards-card {
        position: relative;
        border-radius: 30px;
        background: #2d2c30;
        max-width: 450px;
        padding: 227px 30px 25px 30px;
    }
    &__cards-card-first {
        width: 394px;
        height: 247px;
        background: url("/img/price/1.png") no-repeat;
        position: absolute;
        top: -40px;
        left: -40px;
    }
    &__cards-card-second {
        width: 394px;
        height: 247px;
        background: url("/img/price/2.png") no-repeat;
        position: absolute;
        top: -40px;
        left: -40px;
    }
    &__cards-card-third {
        width: 394px;
        height: 247px;
        background: url("/img/price/3.png") no-repeat;
        position: absolute;
        top: -40px;
        left: -40px;
    }
    &__cards-card img {
        position: absolute;
        top: -40px;
        left: -40px;
    }
    &__cards-card-text h2 {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 26.82px;
    }
    &__cards-card-text p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    &__cards-card-text h1 {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 42.67px;
    }
    &__cards-card-text h3 {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
    }
    &__cards-card-text-btns {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-bottom: 20px;
    }
    &__cards-card-text-btns-order {
        padding: 20px 65px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;

        border-radius: 20px;
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        );
    }
    &__cards-card-text-btns-moreInfo {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background: none;
        border-radius: 20px;
        padding: 10px;
        transition: all 0.3s;
    }
}

.price__content {
    position: relative;
}
.price-arrow1 {
    background: url("/img/price/arrow1.png") no-repeat;
    width: 85px;
    height: 66px;
    position: absolute;
    top: 12px;
    left: 302px;
}
.price-arrow2 {
    position: absolute;
    top: 675px;
    left: -198.03px;
}
.price-arrow3 {
    position: absolute;
    top: 1384px;
    left: 1399px;
}
.price-circle1 {
    position: absolute;
    top: 540px;
    left: 1103px;
}
.price-circle2 {
    position: absolute;
    top: 437px;
    left: 1347px;
    z-index: 10;
}
.price__bgBlur1 {
    position: absolute;
    top: 534px;
    left: 200px;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(250px);
}
.price__bgBlur2 {
    position: absolute;
    top: 1098px;
    left: 282px;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(250px);
    pointer-events: none;
}

.faq {
    background: rgba(255, 255, 255, 0.03);
    &__content {
        padding-top: 72px;
    }
    &__content > h1 {
        text-align: center;
        color: #fff;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 36px;
    }
    &__btns {
        margin-top: 5px;
        padding-bottom: 25px;
        text-align: center;
        display: flex;
        gap: 15px;
        justify-content: center;
    }
    &__btns-more {
        background: none;
        border-radius: 20px;
        border: 2px solid #fff;
        padding: 22px 55px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        transition: all 0.3s;
    }
    // анимация кнопки
    &__btns-more:hover {
        transform: scale(1.05, 1.05);
        background: grey;
    }
    &__btns-more-ask {
        padding: 22px 55px;
        border-radius: 20px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        );
    }
}

/* Скрыть все табы по умолчанию */
.tabcontent {
    display: none;
}

/* Отобразить активный таб */
.tabcontent.active {
    display: block;
}

/* Стилизация кнопок табов */
.tab button {
    border-radius: 50px;
    background: #2d2c30;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 40px 30px 40px;
}
.tab__plusMinus {
    background: url("/img/tabs/plus.png") no-repeat;
    width: 30px;
    height: 30px;
}

/* Стилизация активной кнопки таба */
.tab button.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tab button.active .tab__plusMinus {
    background: url("/img/tabs/minus.png") no-repeat;
}

/* Стилизация контента таба*/
.tabcontent p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    width: 100%;
    padding: 0px 40px 30px 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #2d2c30;
}

.tabs__mb {
    margin-bottom: 20px;
}

.footer {
    background: #161519;
    padding-bottom: 45px;
    padding-top: 58px;
    &__text {
        display: flex;
        align-items: center;
        gap: 200px;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__logo {
        // color: #fff;
        // font-size: 22px;
        // font-weight: 700;
    }
    &__logo a {
        // в будущем удалить(так как будет картинка)
        color: #fff;
        font-size: 22px;
        font-weight: 700;
    }
    &__menu-list {
        display: flex;
        gap: 60px;
    }
    &__menu-list a {
        color: rgba(255, 255, 255, 0.6);
        position: relative;
    }
    &__menu-list a::after {
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0; /*задаём длинну линии до наведения курсора*/
        height: 2px; /*задаём ширину линии*/
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        ); /*задаём цвет линии*/
        content: "";
        transition: width 0.4s ease-out; /*задаём время анимации*/
    }
    &__menu-list a:hover:after {
        width: 100%;
    }
    &__btn {
        padding: 14px 35px;
        border-radius: 15px;
        background: linear-gradient(
            90deg,
            #d034ea 0%,
            #f12626 49.48%,
            #f26428 100%
        );
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
    &__links {
        padding: 30px 50px;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__links h1 {
        color: #fff;
        font-size: 18px;
    }
    &__links-imgs {
        display: flex;
        gap: 15px;
    }
    &__links-imgs div {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50px;
    }
    &__links img {
        padding: 15px;
    }
}
.footerActive {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.activeMob {
    display: none;
}

/* Скрыть контент при загрузке страницы */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Плавное появление контента */
.visible {
    opacity: 1;
    visibility: visible;
}
// Mobile menu

/* Стили для оверлея */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 99;
}

/* Стили для мобильного меню */
.mobile-menu {
    margin-top: -77px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

.mobile-menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}
.mobile-menuStyle1 {
    margin-top: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menuStyle {
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: column;
}
.mobile-menuStyle > a {
    color: rgba(255, 255, 255, 0.7);
}
.mobile-menu-header {
    background: #161519;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 78px;
    padding: 20px 55px;
}
.header__logo > a {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .container {
        max-width: 650px;
    }
    .hiddenMob {
        display: none;
    }
    .header {
        border: 1px solid #161519;
        &__btn {
            font-size: 14px;
        }
    }
    .tagline {
        &__text {
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 710px;
            padding-top: 63px;
        }
        &__text-title {
            max-width: 320px;
            font-size: 40px;
            line-height: normal;
            margin-bottom: 5px;
        }
        &__text-title div {
            width: 40px;
            height: 40px;
            background: url("/img/mobile/header/starTitle.png") no-repeat;
            top: 5px;
            left: 167px;
        }
        &__text > p {
            max-width: 320px;
            font-size: 12px;
            margin-bottom: 10px;
            line-height: 25px;
        }
        &__btns {
            gap: 20px;
            margin-bottom: 20px;
        }
        &__btns-order {
            font-size: 12px;
            border-radius: 15px;
            padding: 12px 35px;
        }
        &__btns-otherInfo div {
            width: 20px;
            height: 20px;
            background: url("/img/mobile/header/otherInfo.png") no-repeat;
        }
        &__stats {
            margin-bottom: 0px;
            gap: 21px;
        }
        &__stats-text h1 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 3px;
            line-height: normal;
        }
        &__stats-text p {
            font-size: 12px;
        }
        &__blur-box {
            top: 158px; //158
            left: 200px; //35
        }
        &__blur {
            width: 250px;
            height: 250px;
            background: rgba(255, 255, 255, 0.1);
            filter: blur(100px);
        }
        &__bg1 {
            width: 75px;
            background: url("/img/mobile/tagline/bg1.png") no-repeat !important;
            position: absolute;
            top: 150px;
            left: 324px;
        }
        &__bg2 {
            width: 257px;
            height: 206px;
            background: none;
            top: 354px;
            left: 48px;
        }
        &__mobBg {
            margin-top: 10px;
            margin-bottom: -20px;
        }
    }

    .advantages {
        height: 800px;
        &__content > h1 {
            padding-top: 35px;
            font-size: 26px;
            margin-bottom: 25px;
        }
        &__content-textBox {
            position: static;
            margin-bottom: 25px;
            gap: 10px;
        }
        &__content-textBox-card {
            padding: 15px;
            gap: 15px;
        }
        &__content-textBox-card-text h1 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        &__content-textBox-card-text p {
            max-width: 515px;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .cardsMobile {
        width: 346px;
        margin: 0 auto;
    }
    .bg1-blur {
        top: 64px;
        left: -90px;
        width: 250px;
        height: 250px;
        filter: blur(100px);
    }
    .bg2-blur {
        top: 724px;
        left: 400px;
        width: 250px;
        height: 250px;
        filter: blur(100px);
    }
    .advantagesImg-arrow1 {
        background: url("/img/mobile/advantages/arrow1.png") no-repeat;
        width: 70px;
        height: 40px;
        top: 81px;
        left: 535px;
    }
    .advantagesImg-arrow2 {
        background: url("/img/mobile/advantages/arrow2.png") no-repeat;
        width: 75px;
        height: 75px;
        top: 420px;
        left: 420px;
    }
    .advantagesImgs {
        &__flex1 {
            width: 60px;
            height: 60px;
            background: url("/img/mobile/advantages/flex1.png") center no-repeat,
                linear-gradient(135deg, #5840ee 0%, #a340df 100%);
        }
        &__flex2 {
            width: 60px;
            height: 60px;
            background: url("/img/mobile/advantages/flex2.png") center no-repeat,
                linear-gradient(135deg, #4dff20 0%, #1cff84 7.4%, #00b2ff 100%);
        }
        &__flex3 {
            width: 60px;
            height: 60px;
            background: url("/img/mobile/advantages/flex3.png") center no-repeat,
                linear-gradient(135deg, #f64444 0%, #f39323 99.58%);
        }
    }
    .price {
        &__content {
            margin-top: 53px;
        }
        &__content > h1 {
            font-size: 26px;
            letter-spacing: normal;
            margin-bottom: 55px;
        }
        &__cards {
            flex-direction: column;
            align-items: center;
            row-gap: 45px;
            margin-bottom: 35px;
        }
        &__cards-card {
            max-width: 320px;
            padding: 167px 20px 20px 20px;
        }
        &__cards-card-first {
            width: 280px;
            height: 176px;
            background: url("/img/mobile/price/card1.png") no-repeat;
            top: -30px;
            left: 20px;
        }
        &__cards-card-second {
            width: 280px;
            height: 176px;
            background: url("/img/mobile/price/card2.png") no-repeat;
            top: -30px;
            left: 20px;
        }
        &__cards-card-third {
            width: 280px;
            height: 176px;
            background: url("/img/mobile/price/card3.png") no-repeat;
            top: -30px;
            left: 20px;
        }
        &__cards-card-text h2 {
            font-size: 18px;
            line-height: normal;
        }
        &__cards-card-text p {
            max-width: 280px;
            font-size: 12px;
            line-height: 22px;
            margin-bottom: 5px;
        }
        &__cards-card-text h1 {
            font-size: 22px;
            margin-bottom: 10px;
            line-height: normal;
        }
        &__cards-card-text h3 {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            line-height: 22px;
        }
        &__cards-card-text-btns {
            margin-bottom: 10px;
        }
        &__cards-card-text-btns-order {
            padding: 12px 45px;
            font-size: 12px;
            border-radius: 15px;
        }
        &__cards-card-text-btns-moreInfo {
            font-size: 12px;
            // transition: all 0.5s;
        }
    }
    .price-arrow1 {
        top: -34px;
        left: 440px;
        background: url("/img/mobile/price/arrow1.png") no-repeat;
    }

    .faq {
        &__content {
            padding-top: 35px;
        }
        &__content > h1 {
            font-size: 26px;
            margin-bottom: 35px;
        }
        &__btns {
            margin-top: 0;
            flex-direction: column;
            position: relative;
            padding-bottom: 35px;
        }
        &__btns-arrow {
            background: url("/img/mobile/arrow1.png") no-repeat !important;
            position: absolute;
            height: 43px;
            width: 35px;
            top: 96px;
            left: 640px;
        }
        &__btns-more {
            border-radius: 15px;
            padding: 12px 84px;
            font-size: 12px;
        }
        &__btns-more-ask {
            padding: 12px 112.5px;
            border-radius: 15px;
            font-size: 12px;
        }
    }
    /* Стилизация кнопок табов */
    .tab button {
        border-radius: 30px;
        padding: 20px;
    }
    /* Стилизация контента таба*/
    .tabcontent p {
        font-size: 12px;
        line-height: 26px;
        padding: 0px 20px 20px 20px;
    }

    .footer {
        padding-top: 21px;
        padding-bottom: 20px;
        &__text {
            margin-bottom: 0px;
            column-gap: 126px;
            row-gap: 18px;
            flex-wrap: wrap;
        }
        &__text h1 {
            font-size: 12px;
            color: #fff;
            padding: 15px 58px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.1);
            margin: 0 auto;
        }
        &__links-imgs {
            display: flex !important;
            gap: 8px;
        }
        &__links-imgs div {
            background: rgba(255, 255, 255, 0.1) !important;
            border-radius: 50px;
        }
        &__links-imgs img {
            padding: 9px;
        }
    }
    .activeMob {
        display: block;
        background: none;
    }
    .mobileMenuStatus {
        display: none;
    }
}
